<!--
<p id="notice"><%= notice %></p>

<h1>Categoriessss</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.priority %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>

<div class="container">
</div>
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main-article d-flex flex-column justify-content-end" style="background-image: linear-gradient(360deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.4) 100%), url(https://images.unsplash.com/photo-1593814681464-eef5af2b0628?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80)">
      <a href="#" class="title-most-voted-article pb-3 ms-3 poppins-font fs-5 fw-bolder text-decoration-none">Title of most voted article</a>
      <a href="#" class="text-most-voted-article pb-5 ms-2 poppins-font fs-6 text-decoration-none">Text of most voted article, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt purus vel tellus scelerisque eleifend. Ut eget nulla at eros eleifend euismod. Morbi aliquam risus ut sem porttitor eleifend volutpat et libero. Fusce cursus placerat venenatis. Mauris bibendum felis sit amet tellus iaculis dignissim. Aliquam metus urna, laoreet at nulla vel, molestie semper nulla.</a>
    </div>
  </div>
  <div class="row">
    <% @categories_bottom.each do |category| %>
      <div class="col-md-3 category-link-index-page d-flex flex-column justify-content-between" style="background-image: linear-gradient(360deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.4) 100%), url(https://images.unsplash.com/photo-1541278107931-e006523892df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1951&q=80)">
        <%= link_to (category.name).capitalize, category_path(category), class: "title-category mt-3 ms-2 poppins-font fs-5 fw-bolder text-decoration-none border-bottom border-warning border-3 pb-1" %>
        <a href="#" class="title-most-voted-article-bottom pb-5 ms-2 poppins-font fs-5 text-decoration-none fw-bolder">Title of most voted article in this category.</a>
      </div>
    <% end %>
  </div>
</div>
