<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @vote.userid %>
</p>

<p>
  <strong>Articleid:</strong>
  <%= @vote.articleid %>
</p>
<% unless current_user.nil? %>
  <% if current_user.id == @article.author_id %>
    <%= link_to 'Edit', edit_vote_path(@vote) %> |
  <% end %>
<% end %>
<%= link_to 'Back', votes_path %>
