<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @vote.userid %>
</p>

<p>
  <strong>Articleid:</strong>
  <%= @vote.articleid %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
